# Path to firefox-l10n clone
# https://github.com/mozilla-l10n/firefox-l10n
l10n_path="/path/to/l10n-git-monorepo/"

# Path to clone of mozilla-firefox/firefox
# https://github.com/mozilla-firefox/firefox
mozilla_firefox_path="/path/to/mozilla-firefox-repo/"

# Path to clone of mozilla-firefox/firefox
# https://github.com/mozilla-mobile/firefox-ios
firefox_ios_path="/path/to/firefox-ios-repo/"
