name: Python linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/scripts/*.txt
          version: "0.10.2"
      - name: Install Dependencies
        run: uv pip install -r scripts/requirements.txt -r scripts/requirements-dev.txt
        env:
          UV_SYSTEM_PYTHON: 1
      - name: ruff lint
        run: ruff check scripts
      - name: ruff format
        run: ruff format scripts --check
      - name: pyright
        run: pyright scripts
      - name: Run tests
        run: pytest tests/ --cov=scripts --cov-report=term --cov-report=xml
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.xml
          fail_ci_if_error: false
